/* header section */
.header-confidence{
    text-align:right;
    color: black;
    padding: 20px 30px 30px 50px;
} 

.header-title{
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 65px;
    line-height: 75px;
    text-align: right;
    color: #151414;
    padding: 50px 20px 0px;
}
.header-description{
    font-family:fantasy;
    font-weight: 400;
    font-size: 35px;
    line-height: 75px;
    text-align: right;
    color: #151414;
    padding: 10px 10px 20px;
}
.btn-primary{
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;  
    background: #FD6E0A;
    border-radius: 5px;
}